.photoPostContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.photoPostText {
  text-align: center;
  margin: 10px 0px;
  font-style: italic;
}

.dateStyle {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.photoPostPhoto {
  height: 100%;
  display: block;
  object-fit: contain;
  margin: auto;
}

.photoDiv {
  max-height: 50vh;
}