.landingPageBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  line-height: 1.15;
  font-size: 3.6rem;
  padding: 10px;
  border-bottom-style: solid;
  /* background-color: #73A1B6; */
}

.footer {
  /* background-color: #73A1B6; */
  border-top-color: black;
}

.fill {
  flex: 1;
}

.leftPanel {
  border-right-color: black;
  border-right-style: solid;
  width:300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* background-color: #AFEEEE; */
}

.centerPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.loadMore {
  width: 200px;
  margin: 0px auto 10px auto;
}

@media (max-width: 800px) {
  .leftPanel {
    display: none;
  }
}