.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body > div {
  margin: auto;
}

.footer {
  text-align: center;
}